<h1>Stockly</h1>
<br />

<% if user_signed_in? %>
    <%= controller.redirect_to stocks_path %>
<% else %>
    <p class="lead">
        <em>The Stock App that Knows What It's Doing</em>
    </p>
    <p>
        Stockly is a Ruby on Rails web application that provides a simple interface to manage stocks.
        Stockly boasts custom portfolios, live price updates, detailed share info, and more! Sign up to Stockly today!
    </p>
<% end %>
